# Binaries for programs and plugins
/bin/
/bin/*
*.exe
*.dll
*.so
*.dylib
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.coverprofile

# Logs and temp files
*.log

# Vendor
/vendor/

# Go build cache
GOCACHE/
